#book {
    border: solid black 2px;
    border-radius: 5px;
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: auto;
    background: white;
    font-size: 20px;
    position: relative;
    min-width: 150px;
    }


#title {
    font-size: 1.5rem;
}

#deleteButton {
    background: rgba(255, 0, 0, 0.699);
    color: white;
    padding: 9px 9px;
    border: solid black 1px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom:-13px;

}

#readButton {
    background: grey;
    border: solid black 1px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px 8px;
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;

}

#checkmark {
    margin-bottom: -4px;
    margin-left: 6px;
    height: 20px;
}

#buttonDiv {
    text-align: center;
    margin-top: 20px;
}
