
#header{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    border-bottom: solid rgb(99, 97, 97) 5px;
    margin-bottom: 20px;
    background:#008CBA;
    color: white;
    
}